<div class="container text-center">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="liststudent">Sample Demo</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="liststudent">List Student</a>
            </li>
            <li>
              <a routerLink="newstudent">New Student</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="listemployee">List Employee</a>
            </li>
            <li>
              <a routerLink="newemployee">New Employee</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>